@{
    ViewBag.Title = "Home Page";
}


@section featured {
   
}
   

<h3>IMDB Top 250 List</h3>

<ol class="round">
    <li class="one">
       
    </li>

    <li class="two">
    
    </li>

    <li class="three">
      
    </li>
</ol>



@using (Html.BeginForm()) 
{
    <input type="submit" name="btnClick" value="Update Movies" />
}